.row.header
  .col-md-1
    = link_to root_path, class: "btn btn-default"do
      %i.glyphicon.glyphicon-home
  .col-md-11.text-right
    .h1 VK Grabber
.row.main-content
  .col-md-3
    .sidebar-nav
      %div{:class => ['navbar', 'navbar-default'], :role => 'navigation'}
        .navbar-header
          %button{ :class => "navbar-toggle", :type => "button", "data-toggle" => "collapse", "data-target" => ".sidebar-navbar-collapse" }
            %span{ :class => "sr-only" } Toggle navigation
            %span{ :class => "icon-bar" }
            %span{ :class => "icon-bar" }
          %span{:class => "visible-xs navbar-brand"} Sidebar menu
        %div{ :class => ["navbar-collapse", "collapse", "sidebar-navbar-collapse"] } 
          %ul{ :class => ["nav", "navbar-nav"]}
            %li{ :id => 'link-view', :class => ('active' if @is_view) }
              = link_to "Просмотреть", {:controller => 'main', :action => 'view'}, :remote => true, data: { no_turbolink: true }
            %li{ :id => 'link-download', :class => ('active' unless @is_view) }
              = link_to "Скачать", {:controller => 'main', :action => 'download'}, :remote => true, data: { no_turbolink: true }
              
  .col-md-9
    #working-area
      - if @is_view
        = render 'view'
      - else
        = render 'download'


  #longActionModal.modal.fade{"aria-labelledby" => "longActionModal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .alert.alert-danger
          %span.glyphicon.glyphicon-hourglass{'aria-hidden' => 'true'}
          Подождите...